

.DNavbarComponent {
    width: 100%;
}

.DNavbarComponent-in {
    width: 90%;
    margin: auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.dNavbar-one {
    width: fit-content;
}

.dNavbar-one h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.dNavbar-two {
    width: fit-content;
}

.dNavbar-two button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: black;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}