

.NavbarComponent {
    width: 100%;
    padding: 2rem 0rem;
}

.NavbarComponent-in {
    width: 90%;
    margin: auto;
    padding: .5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    border: 1px solid #cacaca;   
    background-color: white;
}

.navbar-one {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.navbar-one img {
    width: 40px;
    height: 40px;
}

.navbar-one p {
    font-size: 1rem;
    font-weight: 700;
    color: black;
}

.navbar-two {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.navbar-two button {
    padding: 0.2rem 1rem;
    border-radius: 5px;
    border: 1.5px solid #0070f3;    
    color: #0070f3;
    font-size: .8rem;
    font-weight: 600;
    cursor: pointer;
}