.HomeComponent {
    width: 100%;
}

.HomeComponent-in {
    width: 100%;
}

.home-one {
    width: 100%;
    padding: 2rem 0rem;
}

.home-two {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0rem;
}

.home-three {
    width: 90%;
    margin: auto;
}

.home-three-in {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem 0rem 5rem 0rem;
}

.seat-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.row-label {
    font-weight: bold;
    padding: 0rem 4rem 0rem 0rem;
}

.seat {
    height: 32px;
    width: 32px;
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seat p {
    font-size: .8rem;
    font-weight: 500;
}