

.BookingComponent {
    width: 100%;
}

.BookingComponent-in {
    width: 100%;
}

.booking-one {
    width: 100%;
}

.booking-two {
    width: 100%;
    padding: 8rem 0rem 0rem 0rem;
}

.booking-two-one {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0rem;
}

.home-two-two {
    width: 90%;
    margin: auto;
}

.booking-two-two-in {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem 0rem 2rem 0rem;
}

.seat-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.seats-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.row-label {
    font-weight: bold;
    padding: 0rem 4rem 0rem 0rem;
}

.seat {
    height: 32px;
    width: 32px;
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.seat p {
    font-size: .8rem;
    font-weight: 500;
}

.selected {
    background-color: rgb(47, 47, 244);
    border: 2px solid rgb(173, 173, 255);
    color: white;
}

.occupied {
    background-color: rgb(211, 211, 211);
    border: 2px solid rgb(228, 227, 227);
    cursor: not-allowed;
}

.booking-two-three {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 0rem;
    border-top: 1px solid rgb(224, 224, 224);
}

.booking-two-three-one {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.booking-two-three-one span {
    display: inline-block;
    height: 16px;
    width: 16px;
    border: 1px solid black;
    border-radius: 4px;
    margin-right: 0.5rem;
}

.booking-two-three-one p {
    font-size: 1rem;
}

.booking-two-three-two {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.booking-two-three-two span {
    display: inline-block;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 0.5rem;
    background-color: rgb(47, 47, 244);
    border: 2px solid rgb(173, 173, 255);
}

.booking-two-three-two p {
    font-size: 1rem;
}

.booking-two-three-three {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.booking-two-three-three span {
    display: inline-block;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 0.5rem;
    background-color: rgb(211, 211, 211);
    border: 2px solid rgb(228, 227, 227);
}

.booking-two-three-three p {
    font-size: 1rem;
}