

.EventsComponent {
    width: 100%;
}

.EventComponent-in {
    width: 100%;
}

.event-one {
    width: 100%;
}

.event-two {
    width: 90%;
    margin: auto;
    padding: 1rem 0rem 0rem 0rem;
}

.event-two h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

.event-three {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 0rem;
}

.event-card {
    width: 20%;
    border: 1px solid #cacaca;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.event-card-one {
    width: 100%;
}

.event-card-one img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
}

.event-card-two {
    width: 100%;
    padding: 5px;
}

.event-card-two h1 {
    font-size: 1rem;
    font-weight: 700;
}

.event-card-two p {
    font-size: 0.9rem;
    color: #555555;
}