

.HomeComponent {
    width: 100%;
}

.HomeComponent-in {
    width: 100%;
}

.home-one {
    width: 100%;
}

.home-two {
    width: 100%;
    padding: 2rem 0rem;
}

.home-three {
    width: 100%;
    padding: 4rem 0rem 2rem 0rem;
}